body {
	height: 500vh;
	overflow-x: hidden;
}

.section {
	color: #fff;
	background: rgba(255, 255, 255, 0.1);
	margin: 10px;
	border-radius: 5px;
	border: rgba(117, 54, 54, 0.1) 2px solid;
	height: calc(100vh - 20px);
	transition: transform 3s cubic-bezier(0, 0.96, 0.22, 0.93);
}

#section-2 {
	transform: rotateY(0.9deg) rotateX(-0.4deg);
}

.canvas-container {
	top: 0;
	left: 0;
	position: fixed;
	height: 100vh;
	width: 100vw;
	background: #000;
	z-index: -1;
}

.info-panel {
	padding: 10px;
	display: flex;
	flex-flow: column;
	background: rgba(255, 255, 255, 0.5);
	position: fixed;
	bottom: 10px;
	left: 10px;
}

.info-panel input {
	color: #000;
	margin: 5px;
	background: none;
	border: #000 2px solid;
	height: 20px;
	font-size: 15px;
}
