form{
    margin: 50px;
}

form .longtext,
form textarea {
    width: 350px;
}

form .shorttext {
    width: 169px;
}

form label {
    padding: 0 5px 0 0;
}

form>div {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
}

form>div>label {
    min-width: 150px;
}